body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.app {
    padding: 0;
}

.btn {
    margin: 0.5rem;
}

.p {
    margin: 0;
}

.card-text {
    width: 100%;
    height: 100%;
}

.back-to-top {
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
    border-radius: 0.25rem;
    width: 7rem;
    height: 2.5rem;
}

.holder-div {
    height: 100vh;
    margin: 0.5rem;
}

.sections {
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
    border-radius: 0.25rem;
    padding: 3rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0.25rem;
}

.holder-div {
    height: 90vh;
    margin: 0.25rem;
}

.work {
    height: 100%;
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
    border-radius: 0.25rem;
    padding: 3rem;
}

.contact {
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
    border-radius: 0.25rem;
}

.home1, .home2 {
    height: 50%;
    margin: 0.25rem;
}

/* Navigations */
.nav {
    background-color: #007bff!important;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav > a {
    color: black;
    margin: 0.5rem;
}

.image {
    height: 22rem;
    min-height: 22rem;
    min-width: 22rem;
    width: 22rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #888888;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.25rem;
    margin: 0.25rem;
}

.work-img {
    height: 12rem;
    width: 12rem;
}

/* Media screen sizing */

@media screen and (max-width: 550px) {
    .section-container {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .image {
        align-self: center;
    }
}